<footer class="footer">
  
  <button class="arrow-up">
    <a href="#head"><img src="./assets/images/ico-arrow.svg" alt="arrow-up" class="arrow-up__icon"></a>
  </button>
  
  <div class="sections">
    <section class="sections__copy">
      <small>&copy; 2021 </small>
      <div class="sections__copy--text"><small>we <img src="./assets/images/heart_120202.svg" alt="love" class="sections__copy--img"> components</small></div>
    </section>
    
    <nav class="sections__menu--article">
      <ul>
        <li><a href="https://adalab.es/" target="_blank">article</a></li>
        <li><a href="https://adalab.es/" target="_blank">books</a></li>
        <li><a href="https://adalab.es/" target="_blank">events</a></li>
        <li><a href="https://adalab.es/" target="_blank">reasons</a></li>
        <li><a href="https://adalab.es/" target="_blank">tips</a></li>
      </ul>
    </nav>
    <nav class="sections__menu--rrss">
      <ul>
        <li><a href="https://adalab.es/" target="_blank">twitter</a></li>
        <li><a href="https://adalab.es/" target="_blank">instagram</a></li>
        <li><a href="https://adalab.es/" target="_blank">mastodon.social</a></li>
      </ul>
    </nav>
  </div>

</footer>
