<footer class="footer">
  
  <button class="footer__arrow-up">
    <a href="#head"><img src="./assets/images/ico-arrow.svg" alt="arrow-up" class="footer__icon--arrow"></a>
  </button>
  
  <div class="footer__sections">
    <section class="footer__sectionscopy">
      <small>&copy; 2021 </small>
      <div class="footer__sectionscopy--text"><small>we <img src="./assets/images/heart_120202.svg" alt="love" class="footer__sections-copy--img"> components</small></div>
    </section>
    
    <nav class="footer__sectionsmenu--article">
      <ul>
        <li><a href="https://adalab.es/" target="_blank">article</a></li>
        <li><a href="https://adalab.es/" target="_blank">books</a></li>
        <li><a href="https://adalab.es/" target="_blank">events</a></li>
        <li><a href="https://adalab.es/" target="_blank">reasons</a></li>
        <li><a href="https://adalab.es/" target="_blank">tips</a></li>
      </ul>
    </nav>
    <nav class="footer__sectionsmenu--rrss">
      <ul>
        <li><a href="https://adalab.es/" target="_blank">twitter</a></li>
        <li><a href="https://adalab.es/" target="_blank">instagram</a></li>
        <li><a href="https://adalab.es/" target="_blank">mastodon.social</a></li>
      </ul>
    </nav>
  </div>

</footer>
