<footer class="footer">
  
  <button class="footer__arrow-up">
    <img src="/src/images/ico-arrow.svg" alt="arrow-up">
  </button>
  

  <div class="footer__copy">
    <small>&copy; 2021 we <img src="/src/images/heart_120202.svg" alt="love"> components</small>
  </div>
  
  <nav class="footer__menu--article">
    <ul>
      <li><a href="https://adalab.es/" target="_blank">article</a></li>
      <li><a href="https://adalab.es/" target="_blank">books</a></li>
      <li><a href="https://adalab.es/" target="_blank">events</a></li>
      <li><a href="https://adalab.es/" target="_blank">reasons</a></li>
      <li><a href="https://adalab.es/" target="_blank">tips</a></li>
    </ul>
  </nav>
  <nav class="footer__menu--rrss">
    <ul>
      <li><a href="https://adalab.es/" target="_blank">twitter</a></li>
      <li><a href="https://adalab.es/" target="_blank">instagram</a></li>
      <li><a href="https://adalab.es/" target="_blank">mastodon.social</a></li>
    </ul>
  </nav>

</footer>
