<main class="main">
  <section class="article1">
    <h2 class="article1__title1">insomnia tips</h2>
    <h3 class="article1__title2">looking throught a window</h3>
    <p class="article1__text-insomnia">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste nulla excepturi eaque impedit modi doloremque soluta rem labore autem commodi expedita, pariatur voluptatem ratione, quas quod perferendis in, officiis culpa?</p>

    <button class="article1__go">Go</button>
  </section>

  <section class="article2">
    <h2 class="article2__article-title">3 reasons to purchase</h2>
    <div>
      <h3>Lorem ipsum dolor sit amet</h3>
        <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut quis ab ut doloribus quasi! Quisquam ipsum ad odit ex cum fugiat sequi, omnis natus officiis, a illo nesciunt, numquam laudantium?</p>
    </div>

    <div>
      <h3>Consectetur adipisicing elit.</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam eaque earum provident maxime esse alias, repudiandae animi assumenda porro itaque laboriosam laborum beatae ex! Ipsa unde corrupti sit eveniet ipsam?</p>
    </div>

    <div>
      <h3>Et dolor quas</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et dolor quas, voluptatum aliquid aperiam eos culpa doloribus sapiente assumenda adipisci incidunt consectetur? Deserunt fugit incidunt veritatis atque aliquid, perferendis nemo?
      </p>
    </div>
      
    <button class="article2__reasons">More reasons</button>
  </section>
</main>
