<main class="main">
  <section class="article1">
    <h2 class="h2-art">insomnia tips</h2>
    <h3 class="article-title">looking throught a window</h3>
    <p class="text-insomnia">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste nulla excepturi eaque impedit modi doloremque soluta rem labore autem commodi expedita, pariatur voluptatem ratione, quas quod perferendis in, officiis culpa?</p>
    <button class="go">Go</button>
  </section>

  <section class="article2">
    <h2 class="article2__article-title">3 reasons to purchase</h2>
    <h3></h3>
      <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut quis ab ut doloribus quasi! Quisquam ipsum ad odit ex cum fugiat sequi, omnis natus officiis, a illo nesciunt, numquam laudantium?</p>

    <h3></h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam eaque earum provident maxime esse alias, repudiandae animi assumenda porro itaque laboriosam laborum beatae ex! Ipsa unde corrupti sit eveniet ipsam?</p>

    <h3></h3>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et dolor quas, voluptatum aliquid aperiam eos culpa doloribus sapiente assumenda adipisci incidunt consectetur? Deserunt fugit incidunt veritatis atque aliquid, perferendis nemo?
    </p>
      
    <button class="article2__reasons">more reasons</button>
  </section>
</main>
