<main class="main">
  <section class="article1">
    <h2 class="article1__title1">insomnia tips</h2>
    <h3 class="article1__title2">looking throught a window</h3>
    <p class="article1__text-insomnia">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste nulla excepturi eaque impedit modi doloremque soluta rem labore autem commodi expedita, pariatur voluptatem ratione, quas quod perferendis in, officiis culpa?</p>

    <button class="article1__go">Go</button>
  </section>

  <section class="article2">
    <h2 class="article2__article-title">3 reasons to purchase</h2>
    
    <article class="article2__art1">
      <h3 class="article2__title">Lorem ipsum dolor sit amet</h3>
        <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    </article>
  

  
    <article class="article2__art2">
      <h3 class="article2__title">Consectetur adipisicing elit.</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam eaque earum provident maxime esse alias.</p>
    </article>
  

  
    <article class="article2__art3">
      <h3 class="article2__title">Et dolor quas</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et dolor quas, voluptatum.
      </p>
    </article>
  
      
    <button class="article2__reasons">More reasons</button>
  </section>
</main>
