.footer {
  height: 75vh;
  width: 100%;
  background-color: #304268;
  color: $text-color;
  padding: 45px;

  &__sections {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    @media all and (min-width: 768px) {
      flex-direction: row;
      text-align: initial;
      height: 40vh;
      align-items: flex-start;
    }

    @media all and (min-width: 1200px) {
      padding-inline: 370px;
    }

    &__sectionsmenu {
      height: 150px;
      width: 210px;
    }

    &__sectionsrrss {
      height: 150px;
      width: 210px;
      padding: none;
    }

    &__sectionscopy {
      height: 10px;
      order: 2;
      color: $text-color;
      margin-bottom: 45px;

      @media all and (min-width: 768px) {
        order: 0;
      }

      &--text {
        line-height: 2rem;
      }
      &--img {
        transform: translateY(8px);
      }
    }
  }

  &__arrow-up {
    position: absolute;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background-color: white;
    border: none;
    transform: translateX(175px);

    &--arrow {
      transform: translateY(10px);
    }

    /*&:hover {
      @keyframes intro {
        from {
          transform: scale(0);
        }

        to {
          transform: scale(1);
        }
      }
    }

    @media all and (min-width: 768px) {
      transform: translate(30 300px);
    }*/
  }
  ul {
    width: 150px;
    margin-inline: 15px;
  }

  li {
    list-style: none;
    line-height: 1px;
  }

  a:link,
  a:visited,
  a:active {
    text-decoration: none;
    color: $text-color;
    text-transform: uppercase;
    line-height: 30px;
  }
}
