footer {
  height: 75vh;
  display: flex;
  flex-direction: column;
  background-color: #304268;
  justify-content: center;
  align-items: center;
  text-align: center;

  &__menu {
    color: white;
    margin: 30px;
    height: 200px;
    width: 200px;
  }

  &__rrss {
    margin: 30px;
    height: 200px;
    width: 100vw;
  }
}
li {
  list-style: none;
  line-height: 1px;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
  color: $text-color;
  text-transform: uppercase;
  line-height: 30px;
}

.arrow-up {
  height: 45px;
  width: 45px;
  border: black solid 1px;
  border-radius: 50%;
  background-color: white;
  transform: translate(0, -6rem);
}
