footer {
  display: flex;
  flex-direction: column;
  background-color: #304268;
  justify-content: center;
  align-items: center;

  &__menu {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
  }
}

.arrow-up {
  height: 30px;
  width: 40px;
}
