.header {
  box-sizing: border-box;
  position: fixed;
  border: solid 1px black; /*provisional*/
  height: 40px; /*provisional*/
  width: 40px; /*provisional*/
  background-color: $background-color;
}
